{{ define "body"}}

<div class="flex justify-center p-4">
    <div class="w-full max-w-4xl">
        <h2 class="text-2xl font-semibold text-center mb-4">Here is the list of people attending the party</h2>
        <div class="overflow-x-auto shadow-md sm:rounded-lg">
            <table class="min-w-full bg-white">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-600 uppercase tracking-wider">First Name</th>
                        <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-600 uppercase tracking-wider">Last Name</th>
                        <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-600 uppercase tracking-wider">Team</th>

                    </tr>
                </thead>
                <tbody class="bg-white">
                    {{ range . }}
                        {{ if .WillAttend }}
                            <tr class="hover:bg-gray-100">
                                <td class="py-2 px-4 border-b border-gray-300">{{ .FirstName }}</td>
                                <td class="py-2 px-4 border-b border-gray-300">{{ .LastName }}</td>
                                <td class="py-2 px-4 border-b border-gray-300">{{ .GenderGuess }}</td>
                            </tr>
                        {{ end }}
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{ end }}

